<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Form</title>
    <style>
        /* Add your CSS styles here */
    </style>
</head>
<body>
    <h1>Dynamic Form</h1>
    <form method="post">
        {% for field in fields %}
            <label for="{{ field.lower() }}">{{ field }}:</label>
            <input type="text" id="{{ field.lower() }}" name="{{ field.lower() }}"
                   {% if form_data and field.lower() in form_data %} value="{{ form_data[field.lower()] }}" {% endif %}><br>
        {% endfor %}
        {% for i in range(num_additional_fields) %}
            <label for="new_field_{{ i + 1 }}">New Field {{ i + 1 }}:</label>
            <input type="text" id="new_field_{{ i + 1 }}" name="new_field_{{ i + 1 }}"
                   {% if form_data and 'new_field_' + str(i + 1) in form_data %} value="{{ form_data['new_field_' + str(i + 1)] }}" {% endif %}><br>
        {% endfor %}
        <input type="submit" value="Submit">
        <input type="hidden" name="num_additional_fields" value="{{ num_additional_fields }}">
        <input type="submit" name="add_field" value="Add Field">
    </form>
</body>
</html>
