<!--saveNewReport.html-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study Report</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>گزارش مطالعاتی</h1>
    <p style="text-align: center">نام: {{ user_name }}</p>
    <p style="text-align: center">UserID: {{ user_id }}</p>
    <table>
        <tr>
            <th>ردیف</th>
            <th>کتاب</th>
            <th>درس</th>
            <th>مبحث</th>
            <th>زمان (ساعت)</th>
            <th>تعداد تست</th>
        </tr>
        {% for row in data %}
        <tr>
            <td>{{ row }}</td>
            <td>{{ data[row]['subject'] }}</td>
            <td>{{ data[row]['under_subject'] }}</td>
            <td>{{ data[row]['under_under_subject'] }}</td>
            <td>{{ data[row]['hours'] }}</td>
            <td>{{ data[row]['t_count'] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
